/* ------------ Global setting------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
/*------------- Navigation menu here -------------------*/
/* first menu */
.main-logo-div{
    position: relative;
}
.vector{
    position: absolute;
    height: 26px;
    width: 25px;
}
.archee{
    position: absolute;
    width: 90px;
    height: 18px;
    left: 27px;
    background: #2C2321;
    top: 5px;
}
/* middle menu */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
nav .menu-items{
    width: 307px;
}
nav .menu-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}
/* right menu */
nav .menu-items-right {
    display: flex;
}
nav .menu-items-right .lang{
    height: 21px;
    width: 29px;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 14px;
}
nav .menu-items-right img{
    height: 5px;
    width: 10px;
    margin-right: 10px;
}
nav .menu-items-right .nav-contact-btn{
    margin-top: -10px;
    width: 118px;
    height: 40px;
    text-transform: capitalize;
    background-color: #e67700;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    gap: 10px;
}
nav .menu-items-right .nav-contact-btn a{
    text-decoration: none;
    color: white;
    position: static;
    width: 58px;
    height: 20px;
    left: 30px;
    top: 10px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}